.logo {
    display: block;
    width: 25%;
    margin-top: 10%;
    margin-bottom: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header-img {
    width: 40%;
}

header {
    font-size: 10px;
    font-family: Helvetica;
    column-count: 10;
    column-gap: 5px;
    column-width: 20px;
    height: min-content;
}

h2 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}